{% extends 'MLabsAcraServerBundle::base.html.twig' %}

{% block navigation %}
<ul>
    <li><a href="{{ path('_main_dashboard') }}">Dashboard</a></li>
    <li><a href="#">Applications</a><ul>
		{% for a in applications %}
	    	<li><a href="{{ path('_app_dashboard', {'packageName': a.packageName}) }}">{{ a.packageName }}</a></li>
		{% endfor %}
	    </ul>
	</li>
</ul>
{% endblock %}

{% block breadcrumb %}
{% endblock %}