{% extends 'MLabsAcraServerBundle::base.html.twig' %}

{% block navigation %}
<ul>
    <li><a href="{{ path('_crash_list') }}">Crashes</a></li>
</ul>
{% endblock %}

{% block breadcrumb %}
{% endblock %}