@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300|Roboto+Slab:400,700,300|Roboto:400,700,300,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
.secondary-button,
input,
select,
textarea {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal; }

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: 'consolas', monospace, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, .secondary-button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, .secondary-button,
input {
  line-height: normal; }

button, .secondary-button,
select {
  text-transform: none; }

button, .secondary-button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], [disabled].secondary-button,
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, .secondary-button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************************************************************************************ */
/** LAYOUT */
#wrapper {
  *zoom: 1;
  max-width: 160em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper:before, #wrapper:after {
    content: " ";
    display: table; }
  #wrapper:after {
    clear: both; }

#main-header, #main-footer, #main-content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  *zoom: 1;
  display: block;
  *zoom: 1; }
  #main-header:last-child, #main-footer:last-child, #main-content:last-child {
    margin-right: 0; }
  #main-header:before, #main-header:after, #main-footer:before, #main-footer:after, #main-content:before, #main-content:after {
    content: " ";
    display: table; }
  #main-header:after, #main-footer:after, #main-content:after {
    clear: both; }
  #main-header:before, #main-header:after, #main-footer:before, #main-footer:after, #main-content:before, #main-content:after {
    content: " ";
    display: table; }
  #main-header:after, #main-footer:after, #main-content:after {
    clear: both; }

.card-container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  *zoom: 1;
  display: block; }
  .card-container:last-child {
    margin-right: 0; }
  .card-container:before, .card-container:after {
    content: " ";
    display: table; }
  .card-container:after {
    clear: both; }

.graph-container {
  *zoom: 1;
  display: block; }
  .graph-container:before, .graph-container:after {
    content: " ";
    display: table; }
  .graph-container:after {
    clear: both; }
  .graph-container.full-width {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    .graph-container.full-width:last-child {
      margin-right: 0; }
  .graph-container.half-width {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .graph-container.half-width:last-child {
      margin-right: 0; }
    .graph-container.half-width:nth-child(2n) {
      margin-right: 0; }
    .graph-container.half-width:nth-child(2n+1) {
      clear: left; }

/************************************************************************************ */
/** GLOBAL */
body {
  color: #999999; }

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-transform: uppercase; }

a {
  color: #dd4b39;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #666; }

pre, code {
  font-size: 0.8em; }

table {
  width: 100%; }
  table td, table th {
    padding: 1.17883%;
    text-align: left; }
  table th {
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase; }
  table tr {
    border-bottom: 1px solid #d8d8d8; }
    table tr:hover {
      color: #333333;
      background: #fdf6f5; }
  table thead tr:hover, table tfoot tr:hover {
    background: none; }
  table tfoot {
    display: none; }

.button {
  display: inline-block !important;
  /* needed for anchors */
  position: relative;
  padding: 8px 14px;
  border: 0;
  background: #666666;
  color: white !important;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px #515151; }
  .button:hover, .button:focus, .button.hover, .button.focus {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
    box-shadow: 0px 2px #515151; }
  .button:active, .button.active {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 6px);
    -moz-transform: translate(0px, 6px);
    -ms-transform: translate(0px, 6px);
    -o-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
    box-shadow: 0px -2px #515151; }

.primary-button {
  display: inline-block !important;
  /* needed for anchors */
  position: relative;
  padding: 8px 14px;
  border: 0;
  background: #dd4b39;
  color: white !important;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px #b03c2d; }
  .primary-button:hover, .primary-button:focus, .primary-button.hover, .primary-button.focus {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
    box-shadow: 0px 2px #b03c2d; }
  .primary-button:active, .primary-button.active {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 6px);
    -moz-transform: translate(0px, 6px);
    -ms-transform: translate(0px, 6px);
    -o-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
    box-shadow: 0px -2px #b03c2d; }

.secondary-button {
  display: inline-block !important;
  /* needed for anchors */
  position: relative;
  padding: 8px 14px;
  border: 0;
  background: #3366cc;
  color: white !important;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 4px #2851a3; }
  .secondary-button:hover, .secondary-button:focus, .secondary-button.hover, .secondary-button.focus {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
    transform: translate(0px, 2px);
    box-shadow: 0px 2px #2851a3; }
  .secondary-button:active, .secondary-button.active {
    color: white !important;
    text-decoration: none !important;
    -webkit-transform: translate(0px, 6px);
    -moz-transform: translate(0px, 6px);
    -ms-transform: translate(0px, 6px);
    -o-transform: translate(0px, 6px);
    transform: translate(0px, 6px);
    box-shadow: 0px -2px #2851a3; }

.clear {
  *zoom: 1; }
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  .clear:after {
    clear: both; }

/************************************************************************************ */
/** CARDS */
.card {
  /* We don't use neat columns because of masonry */
  float: left;
  width: 45%;
  margin: 1% 0.9% 1% 1%;
  padding: 1% 1%;
  background: white;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #d8d8d8; }
  .card strong {
    color: #666;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 400;
    font-style: normal; }
  .card pre {
    font-family: 'consolas', monospace, serif;
    font-weight: 300;
    font-style: normal; }

/************************************************************************************ */
/** TABS */
.tab-container .nav {
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d8d8d8; }
  .tab-container .nav:before, .tab-container .nav:after {
    content: " ";
    display: table; }
  .tab-container .nav:after {
    clear: both; }
  .tab-container .nav .tab {
    float: left;
    padding: 5px 15px 0;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    text-transform: uppercase; }
    .tab-container .nav .tab.first {
      padding-left: 0; }
    .tab-container .nav .tab.last {
      padding-right: 0; }
    .tab-container .nav .tab a {
      -webkit-transition: border-color, 0.5s;
      -moz-transition: border-color, 0.5s;
      transition: border-color, 0.5s;
      display: block;
      padding: 5px 0;
      margin: 0;
      border-bottom: 4px solid white;
      text-decoration: none;
      color: #333333; }
      .tab-container .nav .tab a:hover {
        color: #333333;
        border-bottom: 4px solid #acacac; }
    .tab-container .nav .tab.ui-state-active a {
      border-bottom: 4px solid #d8d8d8; }
.tab-container .content {
  padding-top: 2.35765%;
  padding-bottom: 2.35765%; }

/************************************************************************************ */
/** GRAPHS */
.graph-container .graph {
  width: 100%;
  height: 350px; }
.graph-container .legend table {
  width: auto; }
  .graph-container .legend table tr {
    border: none; }
  .graph-container .legend table td {
    padding-bottom: 5px; }
  .graph-container .legend table td.legendColorBox {
    padding-right: 10px;
    padding-bottom: 5px; }
.graph-container .title {
  margin: 2em 0;
  text-align: center;
  color: #999999; }

/************************************************************************************ */
/** PAGINATION */
div.pagination {
  margin: 2em;
  text-align: right; }
  div.pagination a {
    display: inline-block;
    padding: 4px 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    div.pagination a:hover {
      background: #f1f1f1;
      text-decoration: none; }
  div.pagination a.active, div.pagination a.active:hover, div.pagination a.active:visited {
    color: #dd4b39;
    background: transparent;
    text-decoration: none; }

/************************************************************************************ */
/** HEADER */
#main-header {
  background: #f1f1f1;
  padding: 0 2.35765%; }
  #main-header nav.main-navigation ul, #main-header nav.breadcrumb ul {
    *zoom: 1;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #main-header nav.main-navigation ul:before, #main-header nav.main-navigation ul:after, #main-header nav.breadcrumb ul:before, #main-header nav.breadcrumb ul:after {
      content: " ";
      display: table; }
    #main-header nav.main-navigation ul:after, #main-header nav.breadcrumb ul:after {
      clear: both; }
  #main-header nav.main-navigation li, #main-header nav.breadcrumb li {
    float: left; }
  #main-header nav.main-navigation {
    padding: 2em 0; }

/************************************************************************************ */
/** FOOTER */
#main-footer {
  padding: 2.35765%;
  text-align: center;
  font-size: 0.9em; }

/************************************************************************************ */
/** GENERAL CONTENT */
#main-content section {
  padding: 2.35765%; }

/************************************************************************************ */
/** CRASH LIST */
.crash-list {
  background: white; }
  .crash-list table td.action-link {
    text-align: right; }

/************************************************************************************ */
/** CRASH DETAILS */
