$primary-color: #dd4b39;
$secondary-color: #3366cc;
$body-text-color: #999;
$heading-text-color: #333;
$light-bg-color: #f1f1f1;
$medium-bg-color: #e6e6e6;
$border-color: #d8d8d8;
$shadow-color: rgba(0, 0, 0, 0.20);

$padding: flex-gutter() / 2;

/************************************************************************************ */
/** LAYOUT */

#wrapper {
	@include outer-container;
}

#main-header, #main-footer, #main-content {
	@include span-columns(12);
	@include row();
	@include clearfix();
}
.card-container {
	@include span-columns(12);
	@include row();
}
.graph-container, section {
	@include row();	
	&.full-width {
		@include span-columns(12 of 12);
		@include omega();
	}
	&.half-width {
		@include span-columns(6 of 12);
		@include omega(2n);
	}
}

/************************************************************************************ */
/** GLOBAL */

body {
	color: $body-text-color;
}

h1, h2, h3, h4, h5, h6, th {
	@include condensed-font(400);
	color: $heading-text-color;
	text-transform: uppercase;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:visited {
		color: #666;
	}
}
	
pre, code {
	font-size: 0.8em;
}	
	
table {
	width: 100%;
	
	thead, tfoot {
	}
	
	td, th {
		padding: $padding;
		text-align: left;
	}
	
	th {
		@include sans-font(400);
		text-transform: uppercase;
	}
	
	tr {
		border-bottom: 1px solid $border-color; 
		&:hover {	
			color: $heading-text-color;
			background: tint($primary-color, 95%);
		}
	}
	
	thead, tfoot {
		tr:hover {
			background: none;
		}
	}
	
	tfoot {
		display: none;
	}
}

.button {
	@include flat-button();
}

.primary-button {
	@include flat-button($primary-color);
}

.secondary-button {
	@extend button;
	@include flat-button($secondary-color);
}

.clear {
	@include clearfix();	
}

/************************************************************************************ */
/** CARDS */

.card-container {
}

.card {
	/* We don't use neat columns because of masonry */
	float: left;
	width: 45%;
	margin: 1% 0.9% 1% 1%;
	padding: 1% 1%;
	
	background: white;
	
	@include sans-font(300);
	
	-webkit-border-radius: 2px;
		    border-radius: 2px;
	
	-webkit-box-shadow:  0px 2px 4px 0px $shadow-color;
	        box-shadow:  0px 2px 4px 0px $shadow-color;
	        
	border: 1px solid $border-color;
	
	strong {
		color: #666;
		@include sans-font(400);
	}
	
	pre {
		@include monospace-font(300);
	}
} 

/************************************************************************************ */
/** TABS */
.tab-container {
	.nav {
		@include clearfix();
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid $border-color;
		
		.tab {
			float: left;
			padding: 5px 15px 0;
			font-size: 1.2em;
			@include condensed-font(400);
			color: $heading-text-color;
			text-transform: uppercase;
			
			&.first {
				padding-left: 0;
			}
			&.last {
				padding-right: 0;
			}
			
			a {
				@include transition(border-color, 0.5s);
				display: block;
				padding: 5px 0;
				margin: 0;
				border-bottom: 4px solid white;
				text-decoration: none;
				color: $heading-text-color;
				&:hover {
					color: $heading-text-color;
					border-bottom: 4px solid shade($border-color, 20%);
				}
			}
			&.ui-state-active a {
				border-bottom: 4px solid $border-color;
			}
		}
	}
	.content {
		padding-top: flex-gutter();
		padding-bottom: flex-gutter();
	}
}

/************************************************************************************ */
/** GRAPHS */
.graph-container {	
	.graph {
		width: 100%;
		height: 350px;
	}
	
	.legend {
		table {
			width: auto;
			tr {
				border: none;
			}
			td {
				padding-bottom: 5px;
			}
			td.legendColorBox {
				padding-right: 10px;
				padding-bottom: 5px;
			}
		}
	}
	
	.title {
		margin: 2em 0;
		text-align: center;
		color: $body-text-color;
	}
}

/************************************************************************************ */
/** PAGINATION */

div.pagination {
	margin: 2em;
	text-align: right;
	
	a {
		display: inline-block;
		padding: 4px 8px;
		
		-webkit-border-radius: 2px;
			    border-radius: 2px;
		    
		&:hover {
			background: $light-bg-color;
			text-decoration: none;
		} 
	}
	
	a.active, a.active:hover, a.active:visited {
		color: $primary-color;
		background: transparent;
		text-decoration: none;
	}
}

/************************************************************************************ */
/** HEADER */

#main-header {
	background: $light-bg-color;
	@include pad(0 default);
	
	hgroup {
	}
	nav.main-navigation, nav.breadcrumb {
		ul {
			@include clearfix();
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			float: left;
		}
	}
}

/************************************************************************************ */
/** MENU */

nav.main-navigation {
	a {
		display: inline-block;
		width: 100%;
		padding: 0.8em 1em;
		color: $heading-text-color;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
	ul li {
		position: relative;
		&:hover {
			background: $secondary-color;
			a {
				color: white;
			}
			ul {
				display: block;
			}
		}
	}	
	ul ul {
		display: none;
		background: $secondary-color;
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;
		
		li {
			float: none; 
			width: 100%; 
			
			&:hover {
				background: $primary-color;
			}
		}
	}
}

/************************************************************************************ */
/** FOOTER */

#main-footer {
	@include pad(default);
  	text-align: center;
  	font-size: 0.9em;
}
	
/************************************************************************************ */
/** GENERAL CONTENT */

#main-content {		
	section {
		@include pad(default);
	}
}
	
/************************************************************************************ */
/** CRASH LIST */
.crash-list {
	background: white;
	
	table td.action-link {
		text-align: right;
	}
}
	
/************************************************************************************ */
/** CRASH DETAILS */
	
